body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  color: #333;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #040069, #008122, #0500a0);
}

header {
  background-color: #040069;
  color: white;
  padding: 10px 20px;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

button {
  background-color: #006925;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #00691a;
}

.table-container {
  width: 100%;
  margin: 20px auto;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.table-container table {
  width: 100%;
  border-collapse:collapse;
}

.table-container th, .table-container td {
  padding: 10px;
  text-align: left;
}

.table-container th {
  background-color: #00691a;
  color: white;
}

.table-container tr:nth-child(even) {
  background-color: #f2f2f2;
}

.form-container {
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
